html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
#swiper-container2 .swiper-slide {
  height: auto;
}
.container {
  max-width: 80% !important;
  height: 100%;
}
#header {
  width: 100%;
}
#header .container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
#header .container-fluid #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 15%;
  background-color: rgba(0, 0, 0, 0.4);
}
#header .container-fluid #nav .nav .nav-item {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .container-fluid #nav .nav .nav-item .nav-link {
  font-size: 17px;
  letter-spacing: 2px;
  padding: 0;
  cursor: pointer;
}
#header .container-fluid #nav .nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #96c4da;
}
#main {
  width: 100%;
  height: 100%;
}
#main .outline {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: #ffffff;
}
#main .outline .container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}
#main .outline .container-fluid .outline-box {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#main .outline .container-fluid .outline-box .outline-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#main .outline .container-fluid .outline-box .outline-title .outline-zh {
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 600;
}
#main .outline .container-fluid .outline-box .outline-title .outline-en {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  opacity: 0.5;
}
#main .outline .container-fluid .outline-box .outline-title .outline-en .line {
  display: inline-block;
  width: 220px;
  border-top: 1px solid #ccc;
}
#main .outline .container-fluid .outline-box .outline-title .outline-en .text {
  padding: 15px 120px;
}
#main .outline .container-fluid .outline-box .outline-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#main .outline .container-fluid .outline-box .outline-detail .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#main .outline .container-fluid .outline-box .outline-detail .item .icon {
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 15px;
}
#main .outline .container-fluid .outline-box .outline-detail .item .text {
  font-size: 28px;
  letter-spacing: 6px;
}
#main .outline .container-fluid .outline-box .outline-detail .item .text span {
  font-size: 56px;
}
#main .company {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
#main .company .container {
  width: 100%;
  height: 90%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#main .company .container .company-brand {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#main .company .container .company-brand .brand-img {
  width: 550px;
  height: 550px;
  background-repeat: no-repeat;
}
#main .company .container .company-brand .brand-detail {
  max-width: 800px;
  color: #000000;
  text-align: left;
  letter-spacing: 2px;
}
#main .company .container .company-brand .brand-detail .brand-title h1 {
  font-size: 48px;
  letter-spacing: 2px;
}
#main .company .container .company-brand .brand-detail .brand-title h3 {
  font-size: 26px;
}
#main .company .container .company-brand .brand-detail .brand-title h5 {
  width: 45px;
  border-bottom: 7px solid #000000;
}
#main .company .container .company-brand .brand-detail .brand-title .title {
  padding: 5px 0;
}
#main .company .container .company-brand .brand-detail .content {
  margin-top: 25px;
  line-height: 36px;
  text-indent: 2em;
}
#main .company .container .company-brand .brand-detail .content p {
  margin: 0;
}
#main .company .container .company-detail .company-title {
  text-align: left;
  padding: 0 0 20px 0;
}
#main .company .container .company-detail .company-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
#main .company .container .company-detail .company-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .company .container .company-detail .company-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main .company .container .company-detail .company-content .company-img-1 {
  background-position: -90px -45px;
  background-repeat: no-repeat;
}
#main .company .container .company-detail .company-content .company-img-2 {
  background-position: 0 -125px;
  background-repeat: no-repeat;
}
#main .company .container .company-detail .company-content .company-img-3 {
  background-position: -25px -50px;
  background-repeat: no-repeat;
}
#main .company .container .company-detail .company-content .item {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 430px;
  height: 270px;
  margin-bottom: 15px;
  padding: 25px;
  background-color: #ffffff;
  letter-spacing: 2px;
}
#main .company .container .company-detail .company-content .item .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main .company .container .company-detail .company-content .item .title .text {
  font-size: 40px;
}
#main .company .container .company-detail .company-content .item .title .line {
  width: 30px;
  border-bottom: 4px solid #0db7d4;
}
#main .company .container .company-detail .company-content .item .detail {
  margin: 30px 0 0 0;
  font-size: 20px;
  line-height: 32px;
  color: #666666;
}
#main .result {
  width: 100%;
  height: 100%;
}
#main .result .result-box {
  width: 100%;
  height: 100%;
  background-image: url("../img/result-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main .result .result-box .result-mask {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
#main .result .result-box .result-mask .container {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#main .result .result-box .result-mask .container hgroup {
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
#main .result .result-box .result-mask .container hgroup h3 {
  font-size: 70px;
  letter-spacing: 8px;
}
#main .result .result-box .result-mask .container hgroup h1 {
  font-size: 260px;
  letter-spacing: 8px;
}
#main .cooperate {
  width: 100%;
}
#main .cooperate .container .cooperate-title {
  text-align: left;
  padding: 0 0 20px 0;
}
#main .cooperate .container .cooperate-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
#main .cooperate .container .cooperate-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .cooperate .container .cooperate-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main .cooperate .container .cooperate-content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 22%;
  height: 220px;
  padding: 25px 0;
  background-color: #4c4c4c;
}
#main .cooperate .container .cooperate-content .item .cooperate-img {
  display: block;
  width: 128px;
  height: 128px;
}
#main .cooperate .container .cooperate-content .item .text {
  font-size: 20px;
  color: #ffffff;
}
#main .business {
  width: 100%;
  height: 100%;
}
#main .business .business-box {
  width: 100%;
  height: 100%;
  background-image: url("../img/flow-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main .business .business-box .business-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
#main .business .business-box .business-mask .container .cooperate .cooperate-title {
  text-align: left;
  padding: 0 0 20px 0;
}
#main .business .business-box .business-mask .container .cooperate .cooperate-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
#main .business .business-box .business-mask .container .cooperate .cooperate-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .business .business-box .business-mask .container .cooperate .cooperate-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main .business .business-box .business-mask .container .cooperate .cooperate-content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 22%;
  height: 220px;
  padding: 25px 0;
  background-color: #4c4c4c;
}
#main .business .business-box .business-mask .container .cooperate .cooperate-content .item .cooperate-img {
  display: block;
  width: 128px;
  height: 128px;
}
#main .business .business-box .business-mask .container .cooperate .cooperate-content .item .text {
  font-size: 20px;
  color: #ffffff;
}
#main .business .business-box .business-mask .container .flow {
  width: 100%;
}
#main .business .business-box .business-mask .container .flow .flow-title {
  text-align: left;
  padding: 55px 0;
}
#main .business .business-box .business-mask .container .flow .flow-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
#main .business .business-box .business-mask .container .flow .flow-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .business .business-box .business-mask .container .flow .flow-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main .business .business-box .business-mask .container .flow .flow-content .item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 30%;
  height: 270px;
  margin-bottom: 15px;
  padding: 25px;
  background-color: #ffffff;
}
#main .business .business-box .business-mask .container .flow .flow-content .item .flow-item-img {
  position: absolute;
  top: 15px;
  right: 20px;
}
#main .business .business-box .business-mask .container .flow .flow-content .item .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main .business .business-box .business-mask .container .flow .flow-content .item .title .text {
  font-size: 30px;
  line-height: 65px;
}
#main .business .business-box .business-mask .container .flow .flow-content .item .title .line {
  width: 30px;
  border-bottom: 4px solid #004674;
}
#main .business .business-box .business-mask .container .flow .flow-content .item .detail {
  margin: 25px 0 0 0;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #666666;
}
#main .instance {
  width: 100%;
  background-color: #f8f8f8;
}
#main .instance .container .instance-title {
  text-align: left;
  padding: 0 0 20px 0;
}
#main .instance .container .instance-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
#main .instance .container .instance-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .instance .container .instance-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#main .instance .container .instance-content .section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
#main .instance .container .instance-content .section .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 115px;
  background-color: #eeeeee;
}
#main .contact {
  width: 100%;
}
#main .contact .container .contact-content {
  display: flex;
  justify-content: space-between;
}
#main .contact .container .contact-content .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
#main .contact .container .contact-content .info .info-title {
  display: flex;
  flex-direction: column;
}
#main .contact .container .contact-content .info .info-title h1 {
  font-size: 65px;
  letter-spacing: 2px;
  font-weight: 600;
}
#main .contact .container .contact-content .info .info-title h3 {
  margin: 10px 0;
  font-size: 26px;
}
#main .contact .container .contact-content .info .info-title h5 {
  font-size: 20px;
}
#main .contact .container .contact-content .info .info-title .line {
  width: 80px;
  border-bottom: 7px solid #000000;
  margin: 40px 0;
}
#main .contact .container .contact-content .info .info-tel {
  display: flex;
  flex-direction: column;
}
#main .contact .container .contact-content .info .info-tel span {
  font-size: 20px;
  padding: 10px 0;
}
#main .contact .container .contact-content .photo {
  width: 550px;
  height: 470px;
  background: url("../img/contact.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  height: 150px;
  background-color: #535353;
}
#footer .container .footer-content {
  padding: 20px 0;
}
#footer .container .footer-content .nav .item {
  padding: 0 50px 0 0;
  font-size: 18px;
}
#footer .container .footer-content .nav .item .nav-link {
  cursor: pointer;
}
#footer .container .footer-content .copyright {
  color: #999999;
}
