html,
body {
  width: 100%;
  height: 100%;
  font-family: MicrosoftYaHei;
}
.container {
  max-width: 1350px !important;
}
.toTop {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.toTop.cd-is-visible,
.toTop.cd-fade-out,
.no-touch .toTop:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.toTop.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.toTop.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}
.no-touch .toTop:hover {
  background-color: #e86256;
  opacity: 1;
}
#header {
  height: 855px;
  background-image: url("img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
#header .container-fluid {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
#header .container-fluid #nav {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
}
#header .container-fluid #nav .navbar-brand {
  margin-right: 350px;
}
#header .container-fluid #nav .nav .nav-item {
  width: 70px;
  margin: 0 33px;
}
#header .container-fluid #nav .nav .nav-item .nav-link {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 38px;
  padding: 0;
  cursor: pointer;
}
#header .container-fluid #nav .nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #96c4da;
}
#header .container-fluid #outline {
  height: calc(100% - 60px);
}
#header .container-fluid #outline .outline-box {
  top: 26.5%;
}
#header .container-fluid #outline .outline-box .outline-title {
  font-size: 50px;
  letter-spacing: 5px;
  line-height: 65px;
}
#header .container-fluid #outline .outline-box .outline-en {
  font-size: 17px;
  line-height: 20px;
  opacity: 0.5;
}
#header .container-fluid #outline .outline-box .outline-en .line {
  display: inline-block;
  width: 150px;
  border-top: 1px solid #ccc;
}
#header .container-fluid #outline .outline-box .outline-en .text {
  padding: 0 60px;
}
#header .container-fluid #outline .outline-box .outline-detail {
  margin-top: 90px;
}
#header .container-fluid #outline .outline-box .outline-detail .item {
  height: 245px;
}
#header .container-fluid #outline .outline-box .outline-detail .item .icon {
  width: 100%;
  height: 133px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
}
#header .container-fluid #outline .outline-box .outline-detail .item .text {
  font-size: 20px;
}
#header .container-fluid #outline .outline-box .outline-detail .item .text span {
  font-size: 36px;
}
#banner {
  font-size: 20px;
  color: #333333;
  padding: 10px 0 70px 0;
}
#banner .free {
  color: #004f82;
  cursor: pointer;
}
#banner .free .text {
  padding-right: 10px;
}
#banner .free .icon {
  width: 22px;
  height: 22px;
}
#main .brand {
  height: 630px;
  background-color: #1b1b1b;
}
#main .brand .container {
  padding: 0;
}
#main .brand .container .brand-img {
  width: 570px;
  height: 610px;
  top: -50px;
  background-repeat: no-repeat;
}
#main .brand .container .brand-detail {
  max-width: 680px;
  color: #ffffff;
  top: 45px;
  right: 0;
}
#main .brand .container .brand-detail .brand-title h1 {
  font-size: 48px;
  letter-spacing: 2px;
}
#main .brand .container .brand-detail .brand-title h3 {
  font-size: 26px;
}
#main .brand .container .brand-detail .brand-title h5 {
  width: 45px;
  border-bottom: 7px solid #fff;
}
#main .brand .container .brand-detail .brand-title .title {
  padding: 5px 0;
}
#main .brand .container .brand-detail .content {
  margin-top: 25px;
  line-height: 36px;
  text-indent: 2em;
}
#main .brand .container .brand-detail .content p {
  margin: 0;
}
#main .company {
  padding: 30px 0;
  background-color: #f5f5f5;
}
#main .company .container .company-title {
  padding: 0 0 20px 0;
}
#main .company .container .company-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
#main .company .container .company-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .company .container .company-content .company-img-1 {
  background-position: -90px -45px;
  background-repeat: no-repeat;
}
#main .company .container .company-content .company-img-2 {
  background-position: 0 -125px;
  background-repeat: no-repeat;
}
#main .company .container .company-content .company-img-3 {
  background-position: -25px -50px;
  background-repeat: no-repeat;
}
#main .company .container .company-content .item {
  width: 430px;
  height: 270px;
  margin-bottom: 15px;
  padding: 25px;
  background-color: #ffffff;
}
#main .company .container .company-content .item .title .text {
  font-size: 40px;
}
#main .company .container .company-content .item .title .line {
  width: 30px;
  border-bottom: 4px solid #0db7d4;
}
#main .company .container .company-content .item .detail {
  margin: 30px 0 0 0;
  font-size: 20px;
  line-height: 32px;
  color: #666666;
}
#main .result {
  padding: 100px 0;
  background-color: #ffffff;
}
#main .result .result-box {
  height: 1060px;
  background-image: url("/img/result-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main .result .result-box .result-content {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
#main .result .result-box .result-content .container {
  padding: 5% 0;
}
#main .result .result-box .result-content .container hgroup h3 {
  font-size: 45px;
}
#main .result .result-box .result-content .container hgroup h1 {
  font-size: 210px;
}
#main .cooperate {
  padding: 0 0 100px 0;
}
#main .cooperate .container .cooperate-title {
  padding: 0 0 20px 0;
}
#main .cooperate .container .cooperate-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
#main .cooperate .container .cooperate-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .cooperate .container .item {
  width: 22%;
  height: 220px;
  padding: 25px 0;
  background-color: #4c4c4c;
}
#main .cooperate .container .item .cooperate-img {
  display: block;
  width: 128px;
  height: 128px;
}
#main .cooperate .container .item .text {
  font-size: 20px;
  color: #ffffff;
}
#main .flow .flow-box {
  height: 885px;
  background-image: url("/img/flow-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main .flow .flow-box .flow-mask {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
#main .flow .flow-box .flow-mask .container .flow-title {
  padding: 55px 0;
}
#main .flow .flow-box .flow-mask .container .flow-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
#main .flow .flow-box .flow-mask .container .flow-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .flow .flow-box .flow-mask .container .flow-content .item {
  width: 430px;
  height: 270px;
  margin-bottom: 15px;
  padding: 25px;
  background-color: #ffffff;
}
#main .flow .flow-box .flow-mask .container .flow-content .item .flow-item-img {
  top: 15px;
  right: 20px;
}
#main .flow .flow-box .flow-mask .container .flow-content .item .title .text {
  font-size: 24px;
  line-height: 65px;
}
#main .flow .flow-box .flow-mask .container .flow-content .item .title .line {
  width: 30px;
  border-bottom: 4px solid #004674;
}
#main .flow .flow-box .flow-mask .container .flow-content .item .detail {
  margin: 25px 0 0 0;
  font-size: 16px;
  line-height: 36px;
  color: #666666;
}
#main .instance {
  padding: 80px 0;
  background-color: #f8f8f8;
}
#main .instance .container .instance-title {
  padding: 0 0 20px 0;
}
#main .instance .container .instance-title .text {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
#main .instance .container .instance-title .line {
  width: 160px;
  border-bottom: 2px solid #004674;
}
#main .instance .container .instance-content .section {
  margin: 20px 0;
}
#main .instance .container .instance-content .section .item {
  width: 20%;
  height: 115px;
  background-color: #eeeeee;
}
#main .contact {
  padding: 60px 0 80px 0;
}
#main .contact .container .contact-content .info .info-title h1 {
  font-size: 65px;
  letter-spacing: 2px;
}
#main .contact .container .contact-content .info .info-title h3 {
  margin: 10px 0;
  font-size: 26px;
}
#main .contact .container .contact-content .info .info-title h5 {
  font-size: 20px;
}
#main .contact .container .contact-content .info .info-title .line {
  width: 80px;
  border-bottom: 7px solid #000000;
  margin: 40px 0;
}
#main .contact .container .contact-content .info .info-tel span {
  font-size: 20px;
  padding: 10px 0;
}
#main .contact .container .contact-content .photo {
  width: 550px;
  height: 470px;
  background: url(img/contact.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  height: 150px;
  background-color: #535353;
}
#footer .container .footer-content {
  padding: 20px 0;
}
#footer .container .footer-content .nav .item {
  padding: 0 50px 0 0;
  font-size: 18px;
}
#footer .container .footer-content .nav .item .nav-link {
  cursor: pointer;
}
#footer .container .footer-content .copyright {
  color: #999999;
}
